@import "Variables";
@import "Mixins";

.login {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    main {
        background-color: $background;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 50vw;
        padding: 4rem;
        border-radius: 5px;
        background-color: $foreground;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 54px;
            text-align: center;
            color: $background;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 1rem;
        }
    }

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;

        color: $comment;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        button {
            @include button;
            &:first-child {
                background-color: $purple;
            }
            &:last-child {
                background-color: $current-line;
            }
        }
    }
}
