@import "./Variables.scss";

@mixin button {
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

@mixin input {
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    transition: 0.5s ease;

    &:hover {
        cursor: text;
        opacity: 0.8;
    }
}

@mixin label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
