@import "../Variables";
@import "../Mixins";

.input {
    label {
        font-weight: 300;
        color: $comment;
    }
    input {
        @include input;
        background-color: $foreground;
        outline: 1px solid $current-line;
    }
}
